<!DOCTYPE html>
<html>
  <body>
    <h1>Create Payment</h1>

    <form method="POST" action="/payments/add">
      <p>Amount: <input type="text" name="amount"></p>
      <p>Currency: <input type="text" name="currency"></p>
      <p>Recipient ID: <input type="text" name="recipientid"></p>
      <input type="submit">
    </form>
  </body>
</html>
