<!DOCTYPE html>
<html>
  <body>

    <h1>Add Recipient</h1>

    <form method="POST" action="/recipients/add">
      <p>Recipient Name: <input type="text" name="recipientname"></p>
      <input type="submit">
    </form>

  </body>
</html>
