<!DOCTYPE html>
<html>
  <body>
    <h2>Hello <%= username %>, your key is <%= apikey %></h2>

    <div>
      <h3>Recipients</h3>
      <a href="/recipients/add">Add</a>
    </div>

    <div>
      <h3>Payments</h3>
      <a href="/payments/show">Check</a>
      <a href="/payments/add">Create</a>
    </div>
  </body>
</html>
