<!DOCTYPE html>
<html>
  <body>

    <h1>Login</h1>

    <form method="POST" action="/home">
      <p>Your UserName: <input type="text" name="username"></p>
      <p>Your APIkey: <input type="text" name="apikey"></p>
      <input type="submit">
    </form>

  </body>
</html>
